<section>
  <div class="main_head">
    <h3>Add New Student</h3>
  </div>
  <span class="under_line"></span>
  <div id="form">
    <input type="text" placeholder="Name" [(ngModel)]="student.name">
    <input type="text" placeholder="Phone" [(ngModel)]="student.phone">
    <input type="email" placeholder="Email" [(ngModel)]="student.email">
    <div class="holder">
      <label *ngFor="let course of courses">
        <input type="checkbox" [value]="course.name" (change)="course.checked = $event.target.checked">{{course.name}}
      </label>
    </div>
    <input type="file" ng2FileSelect [uploader]="uploader" />
    <button (click)="createNewStudent()">Save</button>
  </div>

</section>
