<section>
  <div class="main_head">
    <h3>Edit a Student</h3>
  </div>
  <span class="under_line"></span>
  <div id="form">
    <input type="text" [(ngModel)]="student.name">
    <input type="text" [(ngModel)]="student.phone">
    <input type="email" [(ngModel)]="student.email">
    <input type="file" [ngModel]="student.image">
    <img [src]="image" alt="" style="width:100px; height:auto;">
    <div *ngFor="let course of courses">
      <label>
        <input type="checkbox" [value]="course.checked" (change)="course.checked = $event.target.checked">{{course.name}}
      </label>
    </div>
    <button (click)="editStudent()">Save</button>
    <button (click)="deleteStudent()">Delete</button>
  </div>
</section>
