<section>
  <div class="main_head">
    <h3>Edit a Student</h3>
  </div>
  <span class="under_line"></span>
  <div id="form">
    <div class="input">
      <input type="text" [(ngModel)]="student.name">
      <input type="text" [(ngModel)]="student.phone">
      <input type="email" [(ngModel)]="student.email">
    </div>
    <input type="file" ng2FileSelect [uploader]="uploader" />
    <img [src]="image">
    <div class="holder">
      <label *ngFor="let course of courses">
        <input type="checkbox" [value]="course.name" (change)="course.checked = $event.target.checked">{{course.name}}
      </label>
    </div>
    <button (click)="editStudent()">Save</button>
    <button (click)="deleteStudent()">Delete</button>
  </div>
</section>
