section {
  width: 25%;
  float: left;
  min-width: 200px;
}
.student-container {
  display: flex;
  cursor: pointer;
  padding: 5px;
}
.student-container img {
  border-radius: 50%;
  height: 50px;
}
.text-holder {
  padding: 5px;
  text-transform: capitalize;
}
