<section *ngIf="students">
  <div *ngFor="let student of students" class='student-container'>
    <div class='img-holder'>
      <img src='../../../assets/{{student.image}}'>
    </div>
    <div class='text-holder'>
      <div (click)="chooseStudent(student)">
        <span>
          <strong>{{ student.name }}</strong>
        </span>
        <br>
        <span>
          {{ student.email }}
        </span>
      </div>
    </div>
  </div>
  <h2>Total {{ studentsTotal }}</h2>
</section>

<!-- <div *ngFor="let stud of students">
    <h1>{{ stud.name }}</h1>
    <p>{{ stud.age }}</p>
    <p>{{ stud.phone }}</p>
    <hr>
  </div> -->
<app-student-detail *ngIf="students && studentData" [studentData]="currentStudent"></app-student-detail>
