body {
  margin-left: 0px;
  margin-right: 0px;
}

:root {
  --color: black;
  --bcolor: white;
}

main {
  margin: 0 auto;
  width: 350px;
  margin-top: 5rem;
  background-color: var(--bcolor);
  text-align: center;
}

img {
  height: 130px;
}

input,
select[name="new_product_category"] {
  margin-bottom: 1rem;
  text-align: center;
}

form {
  margin-top: 35px;
  margin-bottom: 25px;
}

input:last-child {
  border: none;
  cursor: pointer;
  font-size: 1.3rem
}
