<section *ngIf="admin">
  <div class='box'>
    <div class='text-holder'>
      <span>
        <strong>{{ admin.name }}</strong> (Id:{{admin.id}})
      </span>
      <small class="email">
        {{ admin.email }}
      </small>
    </div>
    <div class='img-holder'>
      <img src='http://localhost:3000/upload/{{admin.image}}'>
    </div>
  </div>
</section>

<section class="allAdmins" *ngIf="allAdmins">
  <div *ngFor="let all of allAdmins" class='box'>
    <div class='text-holder'>
      <span>
        <strong>{{ all.name }}</strong> (Id:{{all.id}})
      </span>
      <small class="email">
        {{ all.email }}
      </small>
    </div>
    <div class='img-holder'>
      <img src='http://localhost:3000/upload/{{all.image}}'>
    </div>
  </div>
</section>
