<section *ngIf="courses">
  <div class="list-header">
    <p>Courses:</p>
    <div class="add-btn" (click)="addNewCourse()">+</div>
  </div>
  <div *ngFor="let cours of courses" class='courses-container'>
    <div class='img-holder'>
      <img src='../../../assets/{{cours.image}}'>
    </div>
    <div class='text-holder'>
      <div (click)="chooseCourse(cours)">
        <span>
          {{ cours.name }}
        </span>
        <br>
        <span>
          <!-- {{ cours.des }} -->
        </span>
      </div>
    </div>
  </div>
  <h2>Total {{ coursesTotal }}</h2>
</section>
